In [1]:
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
import pyspark.sql.types as tp
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder.appName('pavan_capstone_project').enableHiveSupport().getOrCreate()

In [3]:
spark

In [4]:
spark.sql('use pavancs')

++
||
++
++

In [5]:
spark.sql('show tables')

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| pavancs|  details|      false|
| pavancs|   status|      false|
+--------+---------+-----------+

In [7]:
spark.sql("SELECT * FROM pavancs.status LIMIT 10")

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0300|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0293|   C0027|15 Mar 19|      Attended|   77|    Qualified|
|     S0290|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0289|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0288|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0287|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0284|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0283|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0280|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+

In [8]:
dfstatus = spark.sql("SELECT * FROM pavancs.status")

In [ ]:
spark.sql("SELECT * FROM pavancs.details LIMIT 10")

In [12]:
type(dfstatus)

pyspark.sql.dataframe.DataFrame

In [27]:
spark.sql('select distinct(result), count(*) from status group by result')

+-------------+--------+
|       result|count(1)|
+-------------+--------+
|Not Qualified|     149|
|    Qualified|     151|
+-------------+--------+

In [28]:
spark.sql("select count(*) from status where attendedstatus = 'Absent'")

+--------+
|count(1)|
+--------+
|     149|
+--------+

In [38]:
spark.sql("select max(marks) from status")

+----------+
|max(marks)|
+----------+
|        92|
+----------+

In [39]:
spark.sql("select min(marks) from status")

+----------+
|min(marks)|
+----------+
|         0|
+----------+

In [43]:
spark.sql("select round(avg(marks),2) avgmarks from status")

+--------+
|avgmarks|
+--------+
|   40.01|
+--------+

In [9]:
dfdetails = spark.sql("SELECT * FROM pavancs.details")

In [10]:
dfdetails.show()

+--------------------+-----+--------------------+----------+----------+
|            courseid|title|          competency|complexity|coursetype|
+--------------------+-----+--------------------+----------+----------+
|               Cloud|C0004|BE (Hons) in CSE ...|    Domain|  Advanced|
|               Cloud|C0005|BTech in Computer...|    Domain|  Advanced|
|               Cloud|C0006|BTech in Computer...|    Domain|  Advanced|
|               Cloud|C0007|BCA with Microsof...|  Security|  Advanced|
|               Cloud|C0008|BTech in Informat...| Technical|  Advanced|
|               Cloud|C0009|MCA with speciali...| Technical|  Advanced|
|Hardware and Netw...|C0013|B.Sc in Hardware ...|    Domain|  Advanced|
|Hardware and Netw...|C0017|M.Tech in Network...|    Domain|  Advanced|
|Hardware and Netw...|C0018|M.Sc in Hardware ...|    Domain|  Advanced|
|Hardware and Netw...|C0019|MSc in Wireless N...|    Domain|  Advanced|
|Hardware and Netw...|C0020|Diploma in Comput...|    Domain|  Advanced|
|Hardware and Netw...|C0021|Diploma of Networ...|    Domain|  Advanced|
|Hardware and Netw...|C0022|Diploma in Comput...|    Domain|  Advanced|
|Hardware and Netw...|C0023|Diploma in IT and...| Technical|  Advanced|
|     Web Development|C0025|Graduate Certific...|    Domain|  Advanced|
|     Web Development|C0029|Diploma in Contem...| Technical|  Advanced|
|               Cloud|C0001|Certificate in Cl...| Technical|     Basic|
|               Cloud|C0002|Certificate in Vi...| Technical|     Basic|
|               Cloud|C0010|ME in Cloud Compu...| Technical|     Basic|
|               Cloud|C0011|MTech Computer Sc...| Technical|     Basic|
+--------------------+-----+--------------------+----------+----------+
only showing top 20 rows

In [11]:
dfstatus.show()

+----------+--------+---------+--------------+-----+---------+
|studentsid|courseid| examdate|attendedstatus|marks|   result|
+----------+--------+---------+--------------+-----+---------+
|     S0299|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0295|   C0029|19 Feb 19|      Attended|   87|Qualified|
|     S0282|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0267|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0251|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0236|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0216|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0200|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0180|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0169|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0165|   C0029|19 Feb 19|      Attended|   87|Qualified|
|     S0150|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0128|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0106|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0094|   C0029|19 Feb 19|      Attended|   87|Qualified|
|     S0078|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0076|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0072|   C0029|19 Feb 19|      Attended|   87|Qualified|
|     S0057|   C0009|25 Feb 19|      Attended|   91|Qualified|
|     S0055|   C0009|25 Feb 19|      Attended|   91|Qualified|
+----------+--------+---------+--------------+-----+---------+
only showing top 20 rows

In [21]:
spark.sql("SELECT min(marks) as Min_Marks, max(marks) as Max_Marks, round(avg(marks),2) as Average_Marks from status")

+---------+---------+-------------+
|Min_Marks|Max_Marks|Average_Marks|
+---------+---------+-------------+
|        0|       92|        40.01|
+---------+---------+-------------+